


.desenvolvedores {
  
    .dev-container {    
      display: flex;
      align-items: center; // Centraliza verticalmente a imagem e o texto
      gap: 20px; // Espaçamento entre a imagem e o texto
    }
  
    .rounded-image {
      width: 700px;
      height: auto;
      border-radius: 50px; 
      object-fit: cover; 
    }
  }
  
  .aboutUs{
    padding-top: 0 !important;
    text-align: justify;
    flex: 1;
    line-height: 1.6;
  }