



#user-background{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  //Variaveis
  --c1: #8EBBFF;
  --c1-25: #8EBBFF40;
  --c1-50: #8EBBFF80;
  --c2: #6690CF;


  & > #color{
    width: 100%;
    height: 100%;

    background-color: var(--primary-color-80);
    backdrop-filter: blur(10px);

  }

  & > div:not(#color){
    position: absolute;
    z-index: -1;
  }

  & > #q1{
    background-color: var(--primary-color);
    border-radius: 1000px;
    height: 80%;
    width: 4%;
    rotate: 45deg;
    top: 45%;
  }

  & > #q2{
    background-color: var(--c2);
    border-radius: 1000px;
    height: 80%;
    width: 2%;
    rotate: 45deg;
    top: 45%;
    left: 20%;
  }

  & > #q3{
    background-color: var(--c2);
    border-radius: 1000px;
    height: 80%;
    width: 1.8%;
    rotate: 45deg;
    top: 55%;
    left: 73%;
  }

  & > #q4{
    background-color: var(--primary-color);
    border-radius: 1000px;
    height: 70%;
    width: 3%;
    rotate: 45deg;
    top: 10%;
    left: 75%;
  }

  & > #q5{
    background-color: var(--c2);
    border-radius: 1000px;
    height: 60%;
    width: 2.5%;
    rotate: 45deg;
    top: -15%;
    left: 40%;
  }

  & > #q6{
    background-color: var(--c1);
    border-radius: 100%;
    width: 14%;
    aspect-ratio: 1;
    top: -5%;
    left: 3%;
  }

  & > #q7{
    background-color: var(--c1-25);
    border-radius: 100%;
    width: 31%;
    aspect-ratio: 1;
    top: 25%;
    left: 20%;
  }

  & > #q8{
    background-color: var(--c1);
    border-radius: 100%;
    width: 8%;
    aspect-ratio: 1;
    top: 20%;
    left: 55%;
  }

  & > #q9{
    background-color: var(--c1-50);
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    top: -40%;
    left: 70%;
  }
}

#inputArea{

  width: 650px;
  height: 750px;
  border-radius: 15px;
  background-color: var(--background-color);
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > #logo{
    gap: 10px;
    flex-direction: column;
    & .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
    }
    & h2{
      font-weight: 500;
    }
  }
  & > #inputs{
    width: 100%;
    & #input .children{
      background-color: var(--color-red-50);
      width: 100%;
      margin-top: 5px;
      padding: 15px;
      border-radius: 15px;
      z-index: 1;
      opacity: 0;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      transition: 0.25s;
    }

  }

  & > #options{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    & > p{
      opacity: 80%;
    }
    & > .moreOptions{
      display: flex;
      justify-content: space-between;
      width: 100%;
      & div{
        display: flex;
        gap: 5px;
      }
    }
  }
}

