
        //AQUI É A TELA NÃO LOGADA
        .bolhas{
          display: flex;
          flex-direction: row;

          .b1{
                background-color: #1258d2;
                border: 2px solid rgb(0, 81, 118); /*borda azul */
                border-radius: 80px; /* borda arredondada */
                padding: 15px;
                margin-left: 70px;
                margin-right: 110px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                width: 850px; /* Largura */
          }
        }

        .motivos{
          .mot_simulados{                        
                  background-color: #ffffff;
                  border: 2px solid rgb(0, 81, 118); /*borda azul */
                  border-radius: 15px; /* borda arredondada */
                  padding: 15px;
                  margin-left: 70px;
                  margin-right: 110px;
                  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                  width: 850px; /* Largura */
                }
          }
        
//AQUI É A TELA COM USUARIO LOGADO
.question_graphic{
    display: flex;
    flex-direction: row;
    
  .dly_question { //caixa da questao diaria
    background-color: #ffffff;
    border: 2px solid rgb(0, 81, 118); /*borda azul */
    border-radius: 15px; /* borda arredondada */
    padding: 15px;
    margin-left: 70px;
    margin-right: 110px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 850px; /* Largura */}

    .taxa_acerto{
      font-size: 22px;
      .graph{
        margin-top: 15px;
        margin-left: 45px;
      }
    }
  }
    .simuladobanco
    {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
    
      .simulado {
        margin-left: 240px;
      }
      .ou{
        font-size: 22px;
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
      }
    }
    .sim_anteriores
    {
      font-size: 25px;
      margin-top: 20px;
      margin-left: 25px;
    }

    .caixa_sim{
        border: 2px solid rgb(0, 81, 118);
        width: 150px;
        margin-left: 25px;
        border-radius: 15px; /* borda arredondada */
        padding-top: 7px;
        font: 10px;
    }
        .acertos_sim
        {
          font-size: 17px;
          margin-left: 20px;
        }

        .time
        {
          font-size: 13px;
          margin-left: 22px;
        }

        .vermais
        {
          margin-left: 40px;
          color: #696670;
        }
    