
        //AQUI É A TELA NÃO LOGADA

        section.home{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
          //Bolinhas lindas -  sim cada uma tem que ter seu css :(//
          /*.bolhas-container {
            position: absolute;
            width: 100%;
            height: 400px; 
          }*/         
          
          .bolhas {
            //position: absolute;
            //width: 100%;
            height: 400px;
            margin-bottom: 200px; 
            
          }
            .bolhas:hover {
              transform: scale(0);
              opacity: 0;
            }
          
          .bolha1 {
            position: absolute;
            width: 400px;
            height: 400px;
            background-color: #3A87FA;
            border-radius: 100%;

            top: 250px;
            left: 300px;
            margin: 10px;
            display: inline-block;
            transition: transform 0.5s, opacity 0.5s;
          }
          
          .bolha2 {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: rgba(109, 166, 255, 0.7);
            border-radius: 100%;

            top: 280px;
            left: 280px;
          }
          
          .bolha3 {
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: rgba(100, 150, 255, 0.7); /* Bolha com cor um pouco diferente */
            border-radius: 100%;
         
            top: 100px;
            right: 250px;
            }
          
          .bolha4 {
            position: absolute;
            width: 120px;
            height: 120px; 
            background-color: rgba(100, 150, 255, 0.7); 
            border-radius: 100%;

            top: 50px;
            right: 50px;
          }
          
          .bolha5 {
            position: absolute;
            width: 60px;
            height: 60px; 
            background-color: rgba(100, 150, 255, 0.7);
            border-radius: 100%;
         
            top: 300px;
            left: 300px;
          }
          
          .bolha6 {
            position: absolute;
            width: 90px;
            height: 90px; 
            background-color: rgba(100, 150, 255, 0.7);
            border-radius: 100%;
         
            top: 250px;
            right: 200px;
          }

        .home-container {
          font-family: Arial, sans-serif;
          padding: 20px;
          background-color: #f0f0f0;
          text-align: center;
        }
        
        .porque{
          background-color: #0460D5;
          border-radius: 40px;
          width: 800px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
          font-size: 30px;
          margin: 0 auto;
          margin-bottom: 30px;
          
        }
        
        .motivos {
          display: flex;  
          flex-direction: column;
          gap: 30px;

          & > div{
            display: flex;
            border: 1px solid black;
            padding: 30px;
            border-radius: 15px;
            margin: 0px 100px;
            background-color: white;
            gap: 15px;
            & > div p{
              font-size: 1.2rem;
            }
            & > div h3{
              font-size: 2rem;
            }
            & > img{
              border-radius: 15px;
            }

            &.pop{
              flex-direction: row-reverse;
            }
          }
          
        }
        
        .equipe {
          margin-top: 40px;
        }    
                

//AQUI É A TELA COM USUARIO LOGADO
.question_graphic{
    display: flex;
    flex-direction: row;
    
  .dly_question { //caixa da questao diaria
    max-height: 400px;
    overflow: auto;
    background-color: #ffffff;
    border: 2px solid rgb(0, 81, 118); /*borda azul */
    border-radius: 15px; /* borda arredondada */
    padding: 15px;
    margin-left: 70px;
    margin-right: 110px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 850px; /* Largura */}

    .taxa_acerto{
      font-size: 22px;
      .graph{
        margin-top: 15px;
        margin-left: 45px;
      }
    }
  }
    .simuladobanco
    {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
    
      .simulado {
        margin-left: 240px;
      }
      .ou{
        font-size: 22px;
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
      }
    }
    .sim_anteriores
    {
      font-size: 25px;
      margin-top: 20px;
      margin-left: 25px;
    }

    .caixa_sim{
        border: 2px solid rgb(0, 81, 118);
        width: 150px;
        margin-left: 25px;
        border-radius: 15px; /* borda arredondada */
        padding-top: 7px;
        font: 10px;
    }
        .acertos_sim
        {
          font-size: 17px;
          margin-left: 20px;
        }

        .time
        {
          font-size: 13px;
          margin-left: 22px;
        }

        .vermais
        {
          margin-left: 40px;
          color: #696670;
        }
    