
        //AQUI É A TELA NÃO LOGADA

        section.home{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
          //Bolinhas lindas -  sim cada uma tem que ter seu css :(//
          /*.bolhas-container {
            position: absolute;
            width: 100%;
            height: 400px; 
          }*/         
          
          .quer{
            font-size:13px;
            position: absolute;
            width: 495px;
            height: 100px;
            border: 2px solid #ffffffd4;
            background-color:  #0051ffd4;
            opacity: 95%;
            color: #ededed;
            border-radius: 40px;
            padding-top: 10px;
            padding-left: 25px;
            padding-right: 10px;
            
            top: 340px;
            left: 850px;
            display: inline-block; 
          }
          .conheca{
            font-size: larger;
            position: absolute;
            width: 600px;
            height: 90px;
            border: 2px solid #b0d6ff;
            background-color: #ffffff;
            border-radius: 60px;
            padding-top: 5px;
            padding-left: 30px;
            padding-right: 10px;
            
            top: 450px;
            left: 950px;
            margin: 10px;
            display: inline-block;
          }

          .bolhas {
            //position: absolute;
            //width: 100%;
            height: 400px;
            margin-bottom: 255px; 
            
          }
            //.bolhas:hover {
              //transform: scale(0);
              //opacity: 0;
            //}
          
          .bolha1 {
            position: absolute;
            width: 400px;
            height: 400px;
            background-color: #0051ffd4;
            border-radius: 100%;

            top: 280px;
            left: 340px;
            display: inline-block;
            transition: transform 0.5s, opacity 0.5s;
          }
          
          .bolha2 {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #6da6ffb3;
            border-radius: 100%;

            top: 220px;
            left: 280px;
          }
          
          .bolha3 {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #6496ffb3; /* Bolha com cor um pouco diferente */
            border-radius: 100%;
         
            top: 490px;
            right: 890px;
            }
          
          .bolha4 {
            position: absolute;
            width: 70px;
            height: 70px; 
            background-color: #6496ffb3; 
            border-radius: 100%;

            top: 545px;
            right: 1390px;
          }
          
          .bolha5 {
            position: absolute;
            width: 60px;
            height: 60px; 
            background-color: #004cffd3;
            border-radius: 100%;
         
            top: 330px;
            left: 250px;
          }
          
          .bolha6 {
            position: absolute;
            width: 90px;
            height: 90px; 
            background-color: #0051ffb3;
            border-radius: 100%;
         
            top:450px;
            right: 890px;
          }

        .home-container {
          font-family: Arial, sans-serif;
          padding: 20px;
          background-color: #f0f0f0;
          text-align: center;
        }
        
        .porque{
          background-color: #0460D5;
          border-radius: 40px;
          width: 800px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
          
          font-size: 32px;
          margin: 0 auto;
          margin-bottom: 30px;
        }
        
        .motivos {
          display: grid;
          width: 1500px;
          height: 2200px;
          margin-left: 45px;
          //flex-wrap: wrap;
          //justify-content: space-around;
          //gap: 20px;
        }

        .mot_img{ //imagens das telas
          position: absolute;
          width: 600px;
          height: 400px;
          border-radius: 50px;
        }
        
        .mot_simulados, .mot_resultados//.mot_acompanhamento 
        { //caxinha branca
          background-color: #fff;
          border: 2px solid #b0d6ff;
          border-radius: 50px;
          color: #3f3d56;
          padding: 20px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 35px;
        }
        .mot_simulados h3, .mot_resultados h3//.mot_acompanhamento h3 
        { //titulo caixa branca
          font-size: 40px;
          margin-top: 220px;
          margin-left: 30px;   
          margin-bottom: 10px;
        }

        .mot_p01{ //texto caixa branca
          font-size: 25px;
          margin-left: 30px;
          margin-right: 720px;
          margin-bottom: 30px;
        }
        .mot_simulados img{
          top: 1070px;
          margin-left: 815px;
        }
        //.mot_acompanhamento img{
        //  top:2570px;
        //  margin-left: 815px;
        //}

        .mot_banco //, .mot_resultados
         { //caxinha azul
          background-color: #0c53b0;
          border: 2px solid #b0d6ff;
          border-radius: 50px;
          color: #ffffff;
          padding: 20px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          margin-bottom: 40px;
        }
        .mot_banco h3//,.mot_resultados h3 { //titulo caixa branca
          {
        font-size: 40px;
          margin-top: 240px;
          margin-left: 760px;
          margin-bottom: 10px;      
        }
        .mot_p02{  //texto caixa azul
          font-size: 25px;
          margin-left: 760px;
          margin-right: 50px;
        }
        .mot_banco img{
          top:1795px;
          left: 250px;
        }
        .mot_resultados img{
          top:2540px;
          margin-left: 815px;
        }

        .rodape{
          background-color: #0460D5;
          color: #ffff;
          width: 1600px;
          height: 210px;
        }

        .rdp_logoempresa{
          background-color: #ffffff;
          border-radius: 40px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          width: 165px;
          height: 168px;
          
          position: absolute;
          top:3180px;
          left: 200px;
        }
        
        .rdp_logoconti{
          background-color: #ffffff;
          border-radius: 40px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          width: 165px;
          height: 168px;
          
          position: absolute;
          top:3180px;
          left: 450px;
        }

        .menu{
          position: absolute;
            left: 1000px;
            margin-top: 30px;
        }

        .rdp_btnbanco{
          position: absolute;
            left: 940px;
            top: 3210px;
            font-size: 15px;
        }
        .rdp_btnsimulado{
          position: absolute;
          left: 898px;
          top: 3245px;
          font-size: 15px;
        }
        .rdp_btnperfil{
          position: absolute;
          left: 896px;
          top: 3280px;
          font-size: 15px;
        }

        .conti{
          position: absolute;
          left: 1400px;
          margin-top: 30px;
        }

        .rdp_btnsobre{
          position: absolute;
          left: 1295px;
          top: 3210px;
          font-size: 15px;
        }
        .rdp_btncontato{
          position: absolute;
          left: 1285px;
          top: 3245px;
          font-size: 15px;
        }
        .rdp_btninsta{
          position: absolute;
          left: 1300px;
          top: 3280px;
          font-size: 15px;
        }


//AQUI É A TELA COM USUARIO LOGADO
.question_graphic{
    display: flex;
    flex-direction: row;
    
  .dly_question { //caixa da questao diaria
    max-height: 400px;
    overflow: auto;
    background-color: #ffffff;
    border: 2px solid rgb(0, 81, 118); /*borda azul */
    border-radius: 15px; /* borda arredondada */
    padding: 15px;
    margin-left: 70px;
    margin-right: 110px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 850px; /* Largura */}

    .taxa_acerto{
      font-size: 22px;
      .graph{
        margin-top: 15px;
        margin-left: 45px;
      }
    }
  }
    .simuladobanco
    {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
    
      .simulado {
        margin-left: 240px;
      }
      .ou{
        font-size: 22px;
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
      }
    }
    .sim_anteriores
    {
      font-size: 25px;
      margin-top: 20px;
      margin-left: 25px;
    }

    .caixa_sim{
        border: 2px solid rgb(0, 81, 118);
        width: 150px;
        margin-left: 25px;
        border-radius: 15px; /* borda arredondada */
        padding-top: 7px;
        font: 10px;
    }
        .acertos_sim
        {
          font-size: 17px;
          margin-left: 20px;
        }

        .time
        {
          font-size: 13px;
          margin-left: 22px;
        }

        .vermais
        {
          margin-left: 40px;
          color: #696670;
        }
    