@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');


/*mudando o chakra */
.chakra-alert {
  border-radius: var(--border-radius);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgba(0, 102, 255, 1);
  --primary-color-80: rgba(0, 102, 255, 0.7);
  --primary-color-50: rgba(0, 102, 255, 0.5); 
  --primary-color-30: rgba(0, 102, 255, 0.3);
  --primary-color-10: rgba(0, 102, 255, 0.1);
  --background-color: white;
  --background-color-50: rgba(255, 255, 255, 0.863);
  --background-color-2: rgb(245, 245, 245);
  --color-green: rgba(7, 158, 7, 0.8);
  --color-green-80: rgba(7, 158, 7, 0.75);
  --color-green-50: rgba(7, 158, 7, 0.5);
  --color-green-20: rgba(7, 158, 7, 0.2);
  --color-green-10: rgba(7, 158, 7, 0.1);
  --color-red: #ff0000;
  --color-red-80: rgba(255, 70, 70, 0.9);
  --color-red-50: rgba(255, 70, 70, 0.5);
  --color-red-20: rgba(255, 70, 70, 0.2);
  --color-black-20: rgba(0, 0, 0, 0.1);

  --text-white: white;

  --margin-big: 100px;
  --margin-medium: 60px;
  --padding-0: 45px;
  --padding-1: 40px;
  --padding-2: 30px;
  --padding-3: 18px;
  --padding-4: 10px;
  --padding-5: 6px;
  --padding-6: 5px;


  --var-h2: 2rem;

  --var-h3: var(--var-h2);
  --margin-smol: 2px;

  --border-radius: 8px;

  --font-size: 1rem;

  //Reescrevendo chakra
  --chakra-colors-blue-50: #ebf8ff !important;   //chakra --> biblioteca de componentes pré-prontos 
  /* Mais clara */
  --chakra-colors-blue-100: #cbe4ff !important;
  --chakra-colors-blue-200: #aad0ff !important;
  --chakra-colors-blue-300: #88bbff !important;
  --chakra-colors-blue-400: #6697ff !important;
  --chakra-colors-blue-500: var(--primary-color) !important;
  /* Cor principal */
  --chakra-colors-blue-600: #035fe9 !important;
  --chakra-colors-blue-700: #0050c9 !important;
  --chakra-colors-blue-800: #0046b0 !important;
  --chakra-colors-blue-900: #0041a2 !important;
  /* Mais escuro */

  --chakra-sizes-xl: 70% !important;
}
body {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
}

h2 {
  font-size: var(--var-h2);
}

h3 {
  font-size: 1.5rem;
}
H4{
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress{
  width: 100%;
  height: var(--padding-6);
  border-radius: var(--padding-6);
  & > div{
    height: var(--padding-6);
    border-radius: var(--padding-6);
    background-color: var(--primary-color);
  }
  background-color: gray;
}

.flex-container {
  display: flex;
  min-height: 100dvh;

  &>.container {
    display: flex;
    flex-direction: column;

    &>.header {
      z-index: 2;
      padding: var(--padding-3);
    }

    &>.inversed-border {
      width: 100%;
      background-color: transparent;
      min-height: var(--padding-1);
      border-top-left-radius: var(--padding-1);
      border-left: 2px solid black;
      border-top: 2px solid black;
      position: relative;
      box-shadow: 0px -10px 0px 10px var(--background-color);
    }

    &>.content {
      flex: 1;
      border-left: 2px solid black;
      padding: var(--padding-1);

      z-index: 2;

    }
  }
}

.box {
  background-color: var(--background-color);
  padding: var(--padding-3);
  border-radius: var(--border-radius);
  border: 1px solid black;
  transform: translate(0px, 0px);
  &.admin{
    display: flex;
    flex-direction: column;
    width: 100%;
    & .page{
      width: 100%;
      display: flex;
      gap: var(--padding-2);
      align-items: center;
      margin: var(--padding-2) 0;
      & input{
        flex: 1;
        padding: var(--padding-3);
      }
    }
  }
  & .inputs{
    grid-area: 1/2;
     & textarea{
      width: 100%;
      border: 1px solid black;
      border-radius: var(--border-radius);
      height: 300px;
     }
  }
}

.adm-box{
  display: flex;
  grid-area: 1/1;
  flex-direction: column;
  gap: var(--padding-3);
  & > .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--padding-3);
    margin-bottom: var(--padding-2);
  }
}

.qst-edit{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  & .text{
    grid-area: 1/1/3/3;
    & textarea{
      width: 100%;
      border: 1px solid black;
      border-radius: var(--border-radius);
    }
    & > textarea{
      min-height: 200px;
    }
  }
  & .answers{
    display: flex;
    flex-direction: column;
    gap: var(--padding-6);
    & > div{
      display: flex;
      gap: var(--padding-3);
    }
    & input{
      width: 90%;
      margin-left: var(--padding-3);
      outline: none;
      border-bottom: 1px solid black;
      padding: var(--padding-6);
    }
  }
  & .options{
    grid-area: 4/1/5/3;
    display: flex;
    gap: var(--padding-3);
    margin: var(--padding-3) 0;
    width: 100%;
  }
} 

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-size {
  width: 100dvw;
  height: 100dvh;

}

#input {
  position: relative;
  margin-top: var(--padding-2);

  //Esse margin-top é o espaço que o texto irá ocupar
  & div.options {
    display: flex;
    align-items: center;

    & span {
      margin-left: var(--padding-4);
      position: absolute;
      top: 50%;
      right: var(--padding-4);
      transform: translateY(-50%);
      background-color: var(--text-white);
      padding: var(--padding-5);
      transition: 0.25s;
    }

    & .inputFocused>p {
      position: absolute;
      left: var(--padding-3);
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s;
      pointer-events: none;
    }

    & input {
      width: 100%;
      padding: var(--padding-3);
      border-radius: var(--border-radius);
      border: 1px solid black;
      font-size: var(--font-size);
      font-weight: 500;
      font-family: inherit;
      background-color: transparent;
      color: black;
      transition: 0.25s;
      outline: none;
      border: 1px solid var(--primary-color);
    }

    & input:focus {
      background-color: var(--background-color-2);
    }

    //Change the text color when input focused
    & input:focus+.inputFocused {
      & > p {
        top: calc(var(--padding-4) * -1);
        left: 0;
      }

      & div {
        opacity: 1 !important;
      }

      & span {
        background-color: var(--background-color-2);
      }
    }
  }

  &.hasContent .options .inputFocused>p {
    top: -15px;
    left: 0;
  }

  &.basic.hasContent .options {
    & .inputFocused>p {
      color: var(--primary-color);
    }

    & input {
      border: 1px solid var(--primary-color);
    }

  }

  &.basic input:focus+.inputFocused p {
    color: var(--primary-color);
  }

  &.valid.hasContent .options {
    & .inputFocused>p {
      color: var(--primary-color);
    }

    & input {
      border: 1px solid var(--primary-color);
    }
  }

  &.valid {
    & input:focus {
      border: 1px solid var(--primary-color);
    }

    & input:focus+p {
      color: var(--primary-color);
    }
  }

  &.invalid .options input {
    border: 1px solid var(--color-red);
  }

  &.invalid.hasContent .options .inputFocused>p {
    color: var(--color-red);
  }

  &.invalid {
    & input:focus {
      border: 1px solid var(--color-red);
    }

    & input:focus+.inputFocused>p {
      color: var(--color-red);
    }
  }

  & .children {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
  }


  &.variant-black {
    & input {
      color: black;
      border: 1px solid black !important;
    }

    &.hasContent .options .inputFocused>p {
      color: black;
    }

  }
}

#nav {
  display: flex;
  position: relative;

  &>#margin {
    margin-left: var(--padding-1);
    padding: var(--padding-3); //decidir entre padding-3 e padding-5
    height: 100%;
  }

  & nav {
    transition: 0.5s;
    z-index: 12;

    &.active {
      width: 300px;
      border-right: 1px solid black;

      & .icon p {
        opacity: 1;
      }
    }

    width: calc(var(--padding-3) + var(--padding-3) + var(--padding-1));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);
    padding: var(--padding-3);

    &>.icon {
      &>svg {
        width: var(--padding-1);
        aspect-ratio: 1;
        cursor: pointer;
      }

      width: fit-content;
      display: flex;
      justify-content: flex-start;
      gap: var(--padding-3);
      align-items: center;

      &>p {
        white-space: nowrap;
        transition: 0.25s;
        opacity: 0;
      }

      &>p.white {
        color: var(--primary-color);
        transition: 0.25s;
      }
    }


    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
  }
}

/*button.secondary{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  & > h3{
    color: var(--primary-color);
  }
  &::before{
    background-color: transparent;
  }
}
button.secondary:hover{
    background-color: var(--background-color-2);
}

button{
  width: 100%;
  padding: var(--padding-3);
  border-radius: var(--border-radius);
  border: none;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  & > h3{
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--text-white);
  }
  transition: 0.25s;
  cursor: pointer;
  &.loading{
    padding: var(--padding-5);
    & img{
      //Tamanho de um h3
      width: 2.5em;
      aspect-ratio: 1;
    }
  }

  &:hover::before{
    animation: buttonHover 0.5s forwards ease-in-out;
  }

  &::before{
    display: block;
    position: absolute;
    top: -25px;
    left: -60px;
    content: '';
    height: calc(100% + 60px);
    rotate: 45deg;
    width: 20px;
    background-color: var(--background-color);
  }

}
@keyframes buttonHover{
    from{
        left: -60px;
    }
    to{
        left: 600px;
    }
}
*/

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.2s;

  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;

}

#alert-box-container {
  position: fixed;
  top: var(--padding-2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 100;
  gap: var(--padding-4);

  &>div {
    animation: alertBoxAnimation 5s forwards;

  }
}

/*#alert-box{
  border-radius: var(--border-radius);
  height: auto;
  padding: var(--padding-3);
  background-color: var(--background-color);
  
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}*/

@keyframes alertBoxAnimation {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-10%);
    opacity: 0;
  }
}

/*

























 TELA DE LOGIN































*/



#user-background {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  //Variaveis
  --c1: #8EBBFF;
  --c1-25: #8EBBFF40;
  --c1-50: #8EBBFF80;
  --c2: #6690CF;


  &>#color {
    width: 100%;
    height: 100%;

    background-color: var(--primary-color-80);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &.white {
      background-color: var(--background-color-50);
    }
  }

  &>div:not(#color) {
    position: absolute;
    transition: 1s;
  }

  &>div:nth-child(even) {
    animation: littleMovement 10s infinite linear;
  }

  &>div:nth-child(odd):not(#color) {
    animation: littleMovement2 10s infinite linear;
  }

  & .risco {
    rotate: 45deg;
    border-radius: 1000px;
  }

  &>#q1 {
    background-color: var(--primary-color);
    height: 80%;
    width: 4%;
    top: 45%;
    left: 0%;
  }

  &>#q2 {
    background-color: var(--c2);
    height: 80%;
    width: 2%;
    top: 45%;
    left: 20%;
  }

  &>#q3 {
    background-color: var(--c2);
    height: 80%;
    width: 1.8%;
    top: 55%;
    left: 73%;
  }

  &>#q4 {
    background-color: var(--primary-color);
    height: 70%;
    width: 3%;
    top: 10%;
    left: 75%;
  }

  &>#q5 {
    background-color: var(--c2);
    height: 60%;
    width: 2.5%;
    top: -15%;
    left: 40%;
  }

  &>#q6 {
    background-color: var(--c1);
    border-radius: 100%;
    width: 14%;
    aspect-ratio: 1;
    top: -5%;
    left: 3%;
  }

  &>#q7 {
    background-color: var(--c1-25);
    border-radius: 100%;
    width: 31%;
    aspect-ratio: 1;
    top: 25%;
    left: 20%;
  }

  &>#q8 {
    background-color: var(--c1);
    border-radius: 100%;
    width: 8%;
    aspect-ratio: 1;
    top: 20%;
    left: 55%;
  }

  &>#q9 {
    background-color: var(--c1-50);
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    top: -40%;
    left: 70%;
  }
}

#user-background.signin {
  &>#q1 {
    background-color: var(--primary-color);
    height: 80%;
    width: 4%;
    top: 20%;
    left: 20%;
  }

  &>#q2 {
    background-color: var(--c2);
    height: 80%;
    width: 2%;
    top: 25%;
    left: 40%;
  }

  &>#q3 {
    background-color: var(--c2);
    height: 80%;
    width: 1.8%;
    top: 35%;
    left: 93%;
  }

  &>#q4 {
    background-color: var(--primary-color);
    height: 70%;
    width: 3%;
    top: -10%;
    left: 95%;
  }

  &>#q5 {
    background-color: var(--c2);
    height: 60%;
    width: 2.5%;
    top: -35%;
    left: 60%;
  }

  &>#q6 {
    background-color: var(--c1);
    border-radius: 100%;
    width: 14%;
    aspect-ratio: 1;
    top: 10%;
    left: 10%;
  }

  &>#q7 {
    background-color: var(--c1-25);
    border-radius: 100%;
    width: 31%;
    aspect-ratio: 1;
    top: 50%;
    left: 5%;
  }

  &>#q8 {
    background-color: var(--c1);
    border-radius: 100%;
    width: 8%;
    aspect-ratio: 1;
    top: 40%;
    left: 75%;
  }

  &>#q9 {
    background-color: var(--c1-50);
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    top: -20%;
    left: 50%;
  }
}

@keyframes littleMovement {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(20px, -5px);
  }

  75% {
    transform: translate(5px, 15px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes littleMovement2 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-10px, -10px);
  }

  50% {
    transform: translate(-20px, 10px);
  }

  75% {
    transform: translate(5px, -8px);
  }

  100% {
    transform: translate(0, 0);
  }

}

#inputArea {

  width: 30%;
  min-height: 70%;
  max-height: 90%;
  border-radius: 15px;
  background-color: var(--background-color);
  padding: var(--padding-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  &>#logo {
    gap: var(--padding-4);
    flex-direction: column;
    margin-bottom: var(--padding-4);

    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-2);
    }

    & h2 {
      font-weight: 500;
    }
  }

  &>#inputs {
    width: 100%;

    & #input .children {
      background-color: var(--color-red-50);
      width: 100%;
      padding: var(--padding-3);
      border-radius: 15px;
      z-index: 1;
      opacity: 0;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      transition: 0.25s;
    }

    & #input:nth-child(2) .children {
      background-color: var(--background-color-50);
      border: 1px solid var(--primary-color);
    }

    & #input {
      margin-bottom: var(--padding-2);
      margin-top: var(--padding-2);
    }

  }

  &>#options {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    position: relative;

    &>p {
      opacity: 80%;
    }

    &>.moreOptions {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & div {
        display: flex;
        gap: var(--padding-6);

        & label {
          user-select: none;
        }
      }
    }

    &>.noAccount {
      margin-top: var(--padding-2);
    }
  }
}

@media (prefers-color-scheme: light) {}

.container {
  width: 100%;


  &>.header {
    background-color: var(--background-color);

    &>h1 {
      margin-bottom: var(--padding-4);
    }

    &>.options {
      width: 100%;
      display: flex;

      &>a {
        flex: 1;
        transition: 0.25s;
        text-align: center;

        &.active {
          color: var(--primary-color);
        }

        //Risco em baixo
        &::after {
          content: "";
          display: block;
          width: 90%;
          height: var(--margin-smol);

          transition: 0.25s;
        }

        &.active::after {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

#config {
  padding: var(--padding-0);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding-0);
  margin-bottom: 100px;

  &>div {
    border-radius: var(--border-radius);
    padding: var(--padding-3);
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);
    z-index: 2;
    background-color: var(--background-color);

    &>h2 {
      margin-bottom: var(--padding-3);
    }
  }
}

.popup-bottom {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: 0.25s;
  z-index: 2;
  bottom: var(--padding-3);
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: var(--background-color);
  border: 1px solid black;
  padding: var(--padding-3);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  &>p {
    width: 100%;
    text-align: center;
    margin-bottom: var(--padding-3);
  }

  &>div {
    display: flex;
    gap: var(--padding-3);
  }

  &.enabled {
    opacity: 1;
    pointer-events: all;
  }
}



/*
-----------------------------------------

COMPONENTES GERAIS DO FERNANDO

-----------------------------------------
*/

.progress-bar-container {
  width: 200px;
  height: 200px;
  position: relative;


  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid black;
    border-radius: 50%;
  }

  & .progress-bar-outline {
    width: 100%;
    height: 100%;

    & .progress-bar-inner-circle {
      width: 90% ;
      height: 90%;
      background: none;
      

      & .progress-bar-text {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
  }

  & svg {
    fill: none;
    stroke-linecap: round;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header {
  position: relative;

  .selected-line {
    position: absolute;
    bottom: 15px;
    width: 25%;
    height: 1.5px;
    left: 50%;
    transition: 0.4s;
    background-color: var(--primary-color);
  }

}

#status {
  padding: var(--padding-0);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--margin-big);

  //Removido
  & .info-geral {
    display: flex;
    gap: var(--padding-0);

    &>#porcentagem {
      background-color: var(--background-color);
      border: 1px solid black;
      padding: var(--padding-2);
      gap: var(--padding-3);
      border-radius: var(--border-radius);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &>#info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--padding-3);

      &>div {
        display: flex;
        align-items: center;
        gap: var(--padding-3);
        background-color: var(--background-color);
        padding: var(--padding-2);
        border-radius: var(--border-radius);
        z-index: 2;
        border: 1px solid black;
      }
    }


  }

  & .info-area {
    display: flex;
    flex-direction: column;
    gap: var(--padding-1);

    &>#header {
      padding: var(--padding-2);
      padding-left: 0;
      background-color: var(--background-color);
      border-radius: var(--border-radius);
    }

    &>#content {
      display: flex;
      gap: var(--padding-3);

      &>#materias {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--padding-3);

        &>div#active {
          max-height: 100%;

          &>#header>img.expand {
            opacity: 0;
          }

          &>#content {
            opacity: 1;

          }
        }

        &>div {
          transition: 0.5s;
          display: flex;
          flex-direction: column;
          gap: var(--padding-3);
          align-items: center;
          background-color: var(--background-color);
          padding: var(--padding-3);
          border-radius: var(--border-radius);
          z-index: 2;
          border: 1px solid black;
          overflow: hidden;
          max-height: calc(var(--padding-3) + var(--var-h2) + var(--padding-3));

          &>#header {
            width: 100%;
            display: flex;
            align-items: center;
            gap: var(--padding-4);

            &>img {
              width: var(--var-h2);
              aspect-ratio: 1;
              transition: 0.25s;
              cursor: pointer;
            }

            &>h4 {
              flex: 1;
            }
          }

          &>#content {
            transition: 0.25s;
            opacity: 0;
          }
        }
      }

      &>#info {
        width: 70%;
        background-color: var(--background-color);
        padding: var(--padding-1);
        border-radius: var(--border-radius);
        z-index: 2;
        border: 1px solid black;
        height: fit-content;

        display: flex;
        flex-direction: column;
        gap: var(--padding-3);

        &>#header {
          display: flex;
          flex-direction: column;
          gap: var(--padding-5);

          &>#title {
            display: flex;

            &>h2.title {
              flex: 1;
            }
          }

          &>#progress-bar {
            width: 100%;
            height: var(--padding-6);
            background-color: gray;
            border-radius: var(--padding-6);

            &>#progress {
              height: 100%;
              background-color: var(--primary-color);
              border-radius: var(--padding-6);
              transition: 0.25s;

            }
          }
        }

        &>#content {
          display: flex;
          flex-direction: column;
          gap: var(--padding-0);

          &>#total-questions {
            display: flex;
            justify-content: space-between;
          }

          &>#sub-subjects {
            display: flex;
            flex-direction: column;
            gap: var(--padding-3);

            &>.sub-subject {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

              &>p {
                text-align: center;

              }
            }

            &>.sub-subject.header {
              margin-bottom: var(--padding-5);
            }
          }
        }
      }
    }
  }
}


#percentage {
  width: 200px;
  height: 200px;
  border: 10px solid var(--primary-color);
  border-radius: 50%;
}

#percentage-2 {
  width: 150px;
  height: 150px;
  border: 10px solid var(--primary-color);
  border-radius: 50%;
}




/*
-----------------------------------------
COMPONENTES GERAIS DO FERNANDO
-----------------------------------------
*/

.progress-bar-container {
  width: 200px;
  height: 200px;
  position: relative;

  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid black;
    border-radius: 50%;
  }

  .progress-bar-outline {
    width: 100%;
    height: 100%;

    //background-color: var(--primary-color);
    .progress-bar-inner-circle {
      width: 90%;
      height: 90%;
      background: none;

      .progress-bar-text {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
  }

  svg {
    fill: none;
    stroke-linecap: round;
    position: absolute;
    top: 0;
    left: 0;
  }

  circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 15;
  }
}



#questions {
  display: flex;
  flex-direction: column;
  gap: var(--padding-2);

  &>.filters {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: var(--padding-3);
    justify-content: space-between;

    &>h3 {
      text-align: center;
      width: 100%;
    }

    &>.options {
      display: flex;
      gap: var(--padding-0);
      padding: 0 var(--padding-2);
      width: 100%;

      &>div {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--padding-3);
        justify-content: center;
        position: relative;

        &>button {
          width: 100%;
        }

        &>div {
          width: 100%;
        }
      }
    }

    &>.more-options {
      display: flex;
      gap: var(--padding-3);
      align-items: center;

      &>p {
        font-weight: 600;
      }

      & > *{
        white-space: nowrap;
      }
    }

    &>.buttons {
      display: flex;
      gap: var(--padding-3);
      align-items: center;
      width: 100%;
      padding: var(--padding-2) 0 0 0;
      border-top: 1px solid black;

      &>button {
        width: 100%;
      }
    }

  }

  &>.results {
    &>.header {
      display: flex;
      align-items: center;
      gap: var(--padding-3);
      z-index: -1;

      &>p {
        flex: 1;
      }
    }

    &>.content {
      margin-top: var(--padding-2);
      display: flex;
      flex-direction: column;
      gap: var(--padding-3);
    }
  }
}

.question-bigbox{
  margin: 0 var(--margin-medium);
  border-radius: var(--border-radius);
  &.open{
    border: 1px solid var(--primary-color);
    & .q-id, & .category, & .year, & .difficulty{
      border: none;
      border-top: none !important;
      border-left: none !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  & > .question-box {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    display: flex;
    align-items: center;

    cursor: pointer;

    &>div {
      padding: var(--padding-4);
    }

    &>.q-id {
      background-color: var(--primary-color-30);
      border: 1px solid var(--primary-color);
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &>.category {
      display: flex;
      flex: 1;
      gap: var(--padding-3);

      border-top: 1px solid var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }

    &>.year {
      color: var(--primary-color);
      padding: var(--padding-4) var(--padding-3);
      border-top: 1px solid var(--primary-color);
      border-bottom: 1px solid var(--primary-color);
    }

    &>.difficulty {
      background-color: var(--color-red-50);
      color: white;
      border: 1px solid var(--color-red);
      padding: var(--padding-4);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      width: 10%;
      text-align: center;

      &.easy {
        background-color: var(--color-green-50);
        border: 1px solid var(--color-green);
      }

      &.medium {
        background-color: var(--primary-color-50);
        border: 1px solid var(--primary-color);
      }

      &.hard {
        background-color: var(--color-red-50);
        border: 1px solid var(--color-red);
      }
    }

  }
}

.question {
  margin: var(--padding-6);
  min-width: 50vw;
  &.small{
    max-width: 100%;
    & > .alternatives {
      gap: var(--padding-6);
      margin: var(--padding-5);
      & > div{
        padding: var(--padding-6);
        border: none;
      }
    }
    &>.options{
      align-items: center;
      justify-content: center;
    }
  }
  max-width: 75%;
  border: none;
  &>.alternatives {
    &.showCorrect {
      &>div {
        cursor: default;
        &:hover{
          background-color: var(--background-color);
        }
        &.correct{
          color: var(--color-green);
          &>span{
            border-color: var(--color-green);
            color: var(--color-green);
          }
        }
        &.active{
          background-color: var(--color-red-20);
          color: var(--color-red);
          &>span{
            border-color: var(--color-red);
            color: var(--color-red);
          }
        }
        &.correct.active{
          background-color: var(--color-green-10);
          color: var(--color-green);
          &>span{
            border-color: var(--color-green);
            color: var(--color-green);
          }
        }
      }
    }
    margin: var(--padding-2) 0;
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);

    &>div {
      display: flex;
      align-items: center;
      gap: var(--padding-3);
      padding: var(--padding-4);
      transition: 0.25s;
      border-radius: var(--border-radius);
      margin: var(--margin-smol);
      cursor: pointer;
      border: 1px solid black;


      &>span {
        transition: 0.25s;
        border: 1px solid black;
        width: var(--padding-2);
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & > p{
        font-size: 1.1rem;
        font-weight: 100;
      }

      &:hover {
        background-color: var(--background-color-2);

      }

      &.active {
        background-color: var(--primary-color-10);

        &>span {
          border-color: var(--primary-color);
          color: var(--primary-color);
        }
      }
    }
  }

  &>.options {
    display: flex;
    gap: var(--padding-3);
    justify-content: flex-end;
  }
}

#simulado{
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  & > #allQuestions{
    position: fixed;
    height: 100vh;
    border-right: 1px solid black;
    padding: var(--padding-1) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-3);
    & > svg{
      width: 30%;
      height: auto;
      cursor: pointer;
    }
    & > div{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: var(--padding-3);
      padding: var(--padding-3);
      overflow: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0px;
      }

      & > span{
        border-radius: 100%;
        border: 1px solid black;
        cursor: pointer;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.25s;
        width: calc(var(--padding-2)*2);
        min-height: calc(var(--padding-2)*2);

        &.active{
          background-color: var(--primary-color-10) !important;
          border-color: var(--primary-color) !important;
          &>h3{
            color: var(--primary-color) !important;
          }
        }
        &.selected{
          background-color: var(--color-black-20);
        }

        &.correct{
          opacity: 0.8;
          background-color: var(--color-green-20);
          border-color: var(--color-green);
          &>h3{
            color: var(--color-green);
          }
        }

        &.incorrect{
          opacity: 0.8;
          background-color: var(--color-red-20);
          border-color: var(--color-red);
          &>h3{
            color: var(--color-red);
          }
        }

        & > h3{
          height: auto;
        }
      }

    }
  }

  & > #allQuestionsMargin{
    height: 100%;
    width: calc(calc(var(--padding-2)*2) + calc(var(--padding-3)*2));
  }
  & > .content{
    height: 100vh;
    padding: 0;
    flex: 1;
    gap: var(--padding-3);
    display: flex;
    flex-direction: column;
    & > #buttons{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: var(--padding-2);
    }
    & > .infoTop{
      display: flex;
      gap: var(--padding-3);
      align-items: center;
      justify-content: center;
      padding: var(--padding-2);
      & > h3{
        flex: 1;
        text-align: center;
      }
    }
    & > div{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
    }
  }
  #question-number-container{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: var(--primary-color);
    width: 1.5rem;
    aspect-ratio:1/1;
    color: var(--text-white);
  }
}

#history{
  & .provaCard{
    //height: fit-content;
    transition: 0.2s;
    border: 1px solid black;
    padding: var(--padding-3);
    border-radius: var(--border-radius);
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--padding-5);
    padding-bottom: var(--padding-2);
    & > .materias {
      margin-top: var(--padding-3);
      display: flex;
      flex-direction: column;
      gap: var(--padding-3);
      & > div{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto; 
        gap: var(--padding-5);

        & h4{
          text-align: right;
        }
        & .progress{
          grid-column: 1/3;
        }
      }
    }
    &:hover{
      cursor: pointer;
      background-color: var(--background-color-2);
    }
  }

  & > .container > .content{
    display: flex;
    flex-direction: column;
    gap: var(--padding-0);
    align-items: center; & > h3{
      width: 100%;
    }
    & > #daySelector{
      user-select: none;
      display: flex;
      align-items: center;
      width: 80%;
      background-color: var(--primary-color-30);
      border-radius: var(--border-radius);
      justify-content: space-between;
      padding: var(--padding-4);
    }
    & > div{
      display: flex;
      flex-wrap: wrap;
      gap: var(--padding-3);
      width: 80%;
      & > div{
        min-width: 50%;
        display: flex;
        flex-direction: column;

        gap: var(--padding-3);
        & > div{
          display: flex;
          flex-wrap: wrap;
          gap: var(--padding-3);
        }
      }
    }
  }
}

#historyOverlay{
  display: flex;
  flex-direction: column;
  gap: var(--padding-4);
  & .materias{
    margin-top: var(--padding-3);
    padding: var(--padding-3);
    border-top: 1px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--padding-3);
    & > div{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--padding-3);
    }
  }

  & > #loading{
    display: flex;
    flex-direction: column;
    gap: var(--padding-3);
    align-items: center;
  }
}


#newtest{
  & .container{
    overflow: hidden;
  }
  & .container > .header{
    z-index: 10;
  }
  & .container > .inversed-border{
    z-index: 9;
  }
  & .container > .content{

    display: flex;
    & > div{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      & button{
        width: fit-content;
      }

      &:hover::after{
        opacity: 1;
      }
      & h2, & p{
        text-align: center;
      }
      &::after{
        content: '';
        display: block;
        opacity: 0;
        transition: 0.5s;
        width: calc(100% + var(--padding-3)*4);
        height: calc(100% + var(--padding-1)*4);
        background-color: var(--primary-color-10);
        position: absolute;
        z-index: -1;
      }
      &:nth-child(1){
        &::after{
          transform: translate(calc(var(--padding-3)*(-2)), calc(var(--padding-1) * (-1)));
        }
      }
      &:nth-child(2){
        &::after{
          transform: translate(calc(var(--padding-3)*2), calc(var(--padding-1) * (-1)));
        }
      }
    }
    
  }
}

.allQuestionsModal{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: var(--padding-2);
  justify-content: center;
  & > h3{
    width: var(--padding-0);
    cursor: pointer;
    transition: 0.1s;
    &.correct{
      color: var(--color-green);
      opacity: 0.7;
    }
    &.wrong{
      color: var(--color-red);
      opacity: 0.7;
    }
    &.active{
      color: var(--primary-color);
      opacity: 0.7;
    }
    &.notAnswered{
      color: var(--color-black);
      opacity: 0.7;
    }
    &:hover{
      opacity: 1;
    }
  }
}

#filtro-ver-areas{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1500px) {
  :root {
    --margin-big: 90px;
    --margin-medium: 50px;
    --padding-0: 40px;
    --padding-1: 35px;
    --padding-2: 22px;
    --padding-3: 13px;
    --padding-4: 10px;
    --padding-5: 5px;
    --padding-6: 3px;

    --margin-smol: 2px;

    --border-radius: 8px;

    --font-size: 1rem;

    --var-h2: 1.5rem;
  }

  h1{
    font-size: 2.5rem;
  }

  h1 > a{
    font-size: inherit;
  }


  h3 {
    font-size: 1.2rem;
  }

  p,
  a {
    font-size: 0.8rem;
  }

  input{
    font-size: 0.9rem !important;
  }

  //para o chakra
  span{
    font-size: 0.8rem !important;
  }

  .question{
    max-width: 75vw;
  }
}


@media (max-width: 1300px) {
  #inputArea{
    width: 40%;
  }
}