
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');


/*mudando o chakra */
.chakra-alert
{
    border-radius: var(--border-radius);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  user-select: none;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgba(0, 102, 255, 1);
  --primary-color-80: rgba(0, 102, 255, 0.7);
  --background-color: white;
  --background-color-50: rgba(255, 255, 255, 0.863);
  --background-color-2: rgb(245, 245, 245);
  --color-green: #369436;
  --color-red: #ff0000;
  --color-red-50: rgb(255, 70, 70);

  --text-white:white;

  --padding-0: 45px;
  --padding-1: 18px;
  --padding-2: 6px;

  --margin-0: 40px;
  --margin-1: 30px;
  --margin-2: 10px;
  --margin-3: 5px;

  --margin-smol: 2px;

  --border-radius: 8px;

  --font-size: 1rem;

  //Reescrevendo chakra
  --chakra-colors-blue-50: #ebf8ff !important; /* Mais clara */
    --chakra-colors-blue-100: #cbe4ff !important;
    --chakra-colors-blue-200: #aad0ff !important;
    --chakra-colors-blue-300: #88bbff !important;
    --chakra-colors-blue-400: #6697ff !important;
    --chakra-colors-blue-500: #4482ff !important; /* Cor principal */
    --chakra-colors-blue-600: #3366e6 !important;
    --chakra-colors-blue-700: #2250cc !important;
    --chakra-colors-blue-800: #113ab3 !important;
    --chakra-colors-blue-900: #002699 !important; /* Mais escuro */

}

body{
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  display: flex;
  min-height: 100dvh;

  & > .container{
    display: flex;
    flex-direction: column;
    
    & > .header{
      z-index: 2;
      padding: var(--padding-1);
    }

    & > .inversed-border{
      width: 100%;
      background-color: transparent;
      min-height: var(--margin-0);
      border-top-left-radius: var(--margin-0);
      border-left: 2px solid black;
      border-top: 2px solid black;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        
        background-color: transparent;
        top:-2px;
        left: -2px;
        height: var(--margin-0);
        width: 100%; //Somar 2px (Talvez)
        border-top-left-radius: var(--margin-0);
        box-shadow: 0px -40px 0 0 var(--background-color);
      }
    }

    & > .content{
      flex: 1;
      border-left: 2px solid black;
      padding: var(--padding-1);
    }

  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-size{
  width: 100dvw;
  height: 100dvh;

}

#input{
  position: relative;
  margin-top: var(--margin-1);

  //Esse margin-top é o espaço que o texto irá ocupar
  & div.options{
    display: flex;
    align-items: center;
    & span{
      margin-left: var(--margin-2);
      position: absolute;
      top: 50%;
      right: var(--margin-2);
      transform: translateY(-50%);
      background-color: var(--text-white);
      padding: var(--padding-2);
      transition: 0.25s;
    }
    & .inputFocused > p{
      position: absolute;
      left: var(--padding-1);
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s;
      pointer-events: none;
    }
    & input{
      width: 100%;
      padding: var(--padding-1);
      border-radius: var(--border-radius);
      border: 1px solid black;
      font-size: var(--font-size);
      font-weight: 500;
      font-family: inherit;
      background-color: transparent;
      color: black;
      transition: 0.25s;
      outline: none;
      border: 1px solid var(--primary-color);
    }
    & input:focus{
      background-color: var(--background-color-2);
    }

    //Change the texto color when input focused
    & input:focus + .inputFocused{
      & > p{
        top: -15px;
        left: 0;
      }
      & div{
        opacity: 1 !important;
      }
      & span{
        background-color: var(--background-color-2);
      }
    }
  }
 
  &.hasContent .options .inputFocused > p{
    top: -15px;
    left: 0;
  }

  &.basic.hasContent .options{
    & .inputFocused > p{
      color: var(--primary-color);
    }

    & input{
      border: 1px solid var(--primary-color);
    }

  }

  &.basic input:focus + .inputFocused p{
    color: var(--primary-color);
  }

  &.valid.hasContent .options{
    & .inputFocused > p{
      color: var(--primary-color);
    }

    & input{
      border: 1px solid var(--primary-color);
    }
  }

  &.valid{
    & input:focus{
      border: 1px solid var(--primary-color);
    }

    & input:focus + p{
      color: var(--primary-color);
    }
  }

  &.invalid .options input{
      border: 1px solid var(--color-red);
  }
  &.invalid.hasContent .options .inputFocused > p{
    color: var(--color-red);
  }

  &.invalid{
    & input:focus{
      border: 1px solid var(--color-red);
    }

    & input:focus + .inputFocused > p{
      color: var(--color-red);
    }
  }

  & .children{
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
  }


  &.variant-black{
    & input{
      color: black;
      border: 1px solid black !important;
    }
    &.hasContent .options .inputFocused > p{
      color: black;
    }
  
  }
}

#nav{
  display: flex;
  position: relative;
  
  & > #margin{
    margin-left: var(--margin-0);
    padding: var(--padding-1); //decidir entre padding-1 e padding-2
    height: 100%;
  }
  & nav{
    display: flex;
    flex-direction: column;
    gap: var(--padding-1);
    padding: var(--padding-1);
    & > svg{
      width: var(--margin-0);
      aspect-ratio: 1;
      cursor: pointer;
    }
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
}

/*button.secondary{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  & > h3{
    color: var(--primary-color);
  }
  &::before{
    background-color: transparent;
  }
}
button.secondary:hover{
    background-color: var(--background-color-2);
}

button{
  width: 100%;
  padding: var(--padding-1);
  border-radius: var(--border-radius);
  border: none;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  & > h3{
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--text-white);
  }
  transition: 0.25s;
  cursor: pointer;
  &.loading{
    padding: var(--padding-2);
    & img{
      //Tamanho de um h3
      width: 2.5em;
      aspect-ratio: 1;
    }
  }

  &:hover::before{
    animation: buttonHover 0.5s forwards ease-in-out;
  }

  &::before{
    display: block;
    position: absolute;
    top: -25px;
    left: -60px;
    content: '';
    height: calc(100% + 60px);
    rotate: 45deg;
    width: 20px;
    background-color: var(--background-color);
  }

}
@keyframes buttonHover{
    from{
        left: -60px;
    }
    to{
        left: 600px;
    }
}
*/

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.2s;
  &:hover{
    color: var(--primary-color);
    cursor: pointer;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  font-size: 2.5em;
  line-height: 1.1;

}

#alert-box-container{
  position: absolute;
  top: var(--margin-1);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  z-index: 100;
  gap: var(--margin-2);
  & > div{
    animation: alertBoxAnimation 5s forwards;

  }
}

/*#alert-box{
  border-radius: var(--border-radius);
  height: auto;
  padding: var(--padding-1);
  background-color: var(--background-color);
  
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}*/

@keyframes alertBoxAnimation{
  0%{
    transform: translateY(-10%);
    opacity: 0;
  }
  10%{
    transform: translateY(0);
    opacity: 1;
  }
  90%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-10%);
    opacity: 0;
  }
}

/*

























 TELA DE LOGIN






























*/

#user-background{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  //Variaveis
  --c1: #8EBBFF;
  --c1-25: #8EBBFF40;
  --c1-50: #8EBBFF80;
  --c2: #6690CF;


  & > #color{
    width: 100%;
    height: 100%;

    background-color: var(--primary-color-80);
    backdrop-filter: blur(10px);

  }

  & > div:not(#color){
    position: absolute;
    transition: 1s;
  }

  & > div:nth-child(even){
    animation: littleMovement 5s infinite linear;
  }
  & > div:nth-child(odd):not(#color){
    animation: littleMovement2 5s infinite linear;
  }

  & .risco{
    rotate: 45deg;
    border-radius: 1000px;
  }

  & > #q1{
    background-color: var(--primary-color);
    height: 80%;
    width: 4%;
    top: 45%;
    left: 0%;
  }

  & > #q2{
    background-color: var(--c2);
    height: 80%;
    width: 2%;
    top: 45%;
    left: 20%;
  }

  & > #q3{
    background-color: var(--c2);
    height: 80%;
    width: 1.8%;
    top: 55%;
    left: 73%;
  }

  & > #q4{
    background-color: var(--primary-color);
    height: 70%;
    width: 3%;
    top: 10%;
    left: 75%;
  }

  & > #q5{
    background-color: var(--c2);
    height: 60%;
    width: 2.5%;
    top: -15%;
    left: 40%;
  }

  & > #q6{
    background-color: var(--c1);
    border-radius: 100%;
    width: 14%;
    aspect-ratio: 1;
    top: -5%;
    left: 3%;
  }

  & > #q7{
    background-color: var(--c1-25);
    border-radius: 100%;
    width: 31%;
    aspect-ratio: 1;
    top: 25%;
    left: 20%;
  }

  & > #q8{
    background-color: var(--c1);
    border-radius: 100%;
    width: 8%;
    aspect-ratio: 1;
    top: 20%;
    left: 55%;
  }

  & > #q9{
    background-color: var(--c1-50);
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    top: -40%;
    left: 70%;
  }
}

#user-background.signin{
  & > #q1{
    background-color: var(--primary-color);
    height: 80%;
    width: 4%;
    top: 20%;
    left: 20%;
  }

  & > #q2{
    background-color: var(--c2);
    height: 80%;
    width: 2%;
    top: 25%;
    left: 40%;
  }

  & > #q3{
    background-color: var(--c2);
    height: 80%;
    width: 1.8%;
    top: 35%;
    left: 93%;
  }

  & > #q4{
    background-color: var(--primary-color);
    height: 70%;
    width: 3%;
    top: -10%;
    left: 95%;
  }

  & > #q5{
    background-color: var(--c2);
    height: 60%;
    width: 2.5%;
    top: -35%;
    left: 60%;
  }

  & > #q6{
    background-color: var(--c1);
    border-radius: 100%;
    width: 14%;
    aspect-ratio: 1;
    top: 10%;
    left: 10%;
  }

  & > #q7{
    background-color: var(--c1-25);
    border-radius: 100%;
    width: 31%;
    aspect-ratio: 1;
    top: 50%;
    left: 5%;
  }

  & > #q8{
    background-color: var(--c1);
    border-radius: 100%;
    width: 8%;
    aspect-ratio: 1;
    top: 40%;
    left: 75%;
  }

  & > #q9{
    background-color: var(--c1-50);
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    top: -20%;
    left: 50%;
  }
}

@keyframes littleMovement{
  0%{
    transform: translate(0, 0);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(20px, -5px);
  }
  75%{
    transform: translate(5px, 15px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes littleMovement2{
  0%{
    transform: translate(0, 0);
  }
  25%{
    transform: translate(-10px, -10px);
  }
  50%{
    transform: translate(-20px, 10px);
  }
  75%{
    transform: translate(5px, -8px);
  }
  100%{
    transform: translate(0, 0);
  }

}

#inputArea{

  width: 650px;
  height: 750px;
  border-radius: 15px;
  background-color: var(--background-color);
  padding: var(--padding-0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  & > #logo{
    gap: var(--margin-2);
    flex-direction: column;
    margin-bottom: var(--margin-2);
    & .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--margin-1);
    }
    & h2{
      font-weight: 500;
    }
  }
  & > #inputs{
    width: 100%;
    & #input .children{
      background-color: var(--color-red-50);
      width: 100%;
      padding: var(--padding-1);
      border-radius: 15px;
      z-index: 1;
      opacity: 0;
      display: flex;
      flex-direction: column;
      pointer-events: none;
      transition: 0.25s;
    }
    & #input:nth-child(2) .children{
        background-color: var(--background-color-50);
        border: 1px solid var(--primary-color);
    }
    & #input{
      margin-bottom: var(--margin-1);
      margin-top: var(--margin-1);
    }

  }

  & > #options{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    position: relative;
    & > p{
      opacity: 80%;
    }
    & > .moreOptions{
      display: flex;
      justify-content: space-between;
      width: 100%;
      & div{
        display: flex;
        gap: var(--margin-3);
        & label{
          user-select: none;
        }
      }
    }

    & > .noAccount{
      margin-top: var(--margin-1);
    }
  }
}



@media (max-width: 1400px){
  #inputArea{
      width: 550px;
      height: 650px;
  }
}

@media (prefers-color-scheme: light) {

}

@media (max-width: 1400px){
    :root{
        --padding-0: 40px;
        --padding-1: 15px;
        --padding-2: 5px;

        --margin-1: 25px;
        --margin-2: 8px;
        --margin-3: 4px;

        --border-radius: 8px;

        --font-size: 0.9rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    p, a{
        font-size: 0.9rem;
    }
}


.container{
  width: 100%;
  & > .header{
    & > .options{
      width: 100%;
      display: flex;
      & > a{
        flex: 1;
        transition: 0.25s;
        text-align: center;

        &.active{
          color: var(--primary-color);
        }
        //Risco em baixo
        &::after{
          content: "";
          display: block;
          width: 90%;
          height: var(--margin-smol);
          margin-top: var(--margin-3);
          transition: 0.25s;
        }
        &.active::after{
          background-color: var(--primary-color);
        }
      }
    }
  }
}

#config{
  padding: var(--padding-0);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding-0);
  margin-bottom: 100px;
  & > div{
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: var(--padding-1);
    display: flex;
    flex-direction: column;
    gap: var(--padding-1);
    & > h1{
      font-size: 2rem;
      margin-bottom: var(--padding-1);
    }
  }
}

.popup-bottom{
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: 0.25s;
  z-index: 2;
  bottom: var(--padding-1);
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: var(--background-color);
  border: 1px solid black;
  padding: var(--padding-1);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  & > p{
    width: 100%;
    text-align: center;
    margin-bottom: var(--padding-1);
  }

  & > div{
    display: flex;
    gap: var(--padding-1);
  }

  &.enabled{
    opacity: 1;
    pointer-events: all;
  }
}