
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  user-select: none;
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgba(0, 102, 255, 1);
  --primary-color-80: rgba(0, 102, 255, 0.7);
  --background-color: white;
  --background-color-50: rgba(255, 255, 255, 0.863);
  --background-color-2: rgb(245, 245, 245);
  --color-green: #369436;
  --color-red: #ff0000;
  --color-red-50: rgb(255, 70, 70);

  --text-white:white;

  --padding-0: 45px;
  --padding-1: 18px;
  --padding-2: 6px;

  --margin-1: 30px;
  --margin-2: 10px;
  --margin-3: 5px;

  --border-radius: 8px;

  --font-size: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-size{
  width: 100dvw;
  height: 100dvh;

}

#input{
  position: relative;
  //Esse margin-top é o espaço que o texto irá ocupar
  & div.options{
    display: flex;
    align-items: center;
    margin-top: var(--margin-1);
    & span{
      margin-left: var(--margin-2);
      position: absolute;
      top: 50%;
      right: var(--margin-2);
      transform: translateY(-50%);
      background-color: var(--text-white);
      padding: var(--padding-2);
      transition: 0.25s;
    }
    & .inputFocused > p{
      position: absolute;
      left: var(--padding-1);
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s;
      pointer-events: none;
    }
    & input{
      width: 100%;
      padding: var(--padding-1);
      border-radius: var(--border-radius);
      border: 1px solid black;
      font-size: var(--font-size);
      font-weight: 500;
      font-family: inherit;
      background-color: transparent;
      color: black;
      transition: 0.25s;
      outline: none;
      border: 1px solid var(--primary-color);
    }
    & input:focus{
      background-color: var(--background-color-2);
    }

    //Change the texto color when input focused
    & input:focus + .inputFocused{
      & > p{
        top: -15px;
        left: 0;
      }
      & div{
        opacity: 1 !important;
      }
      & span{
        background-color: var(--background-color-2);
      }
    }
  }
 
  &.hasContent .options .inputFocused > p{
    top: -15px;
    left: 0;
  }

  &.basic.hasContent .options{
    & .inputFocused > p{
      color: var(--primary-color);
    }

    & input{
      border: 1px solid var(--primary-color);
    }

  }

  &.basic input:focus + .inputFocused p{
    color: var(--primary-color);
  }

  &.valid.hasContent .options{
    & .inputFocused > p{
      color: var(--color-green);
    }

    & input{
      border: 1px solid var(--color-green);
    }
  }

  &.valid{
    & input:focus{
      border: 1px solid var(--color-green);
    }

    & input:focus + p{
      color: var(--color-green);
    }
  }

  &.invalid .options input{
      border: 1px solid var(--color-red);
  }
  &.invalid.hasContent .options .inputFocused > p{
    color: var(--color-red);
  }

  &.invalid{
    & input:focus{
      border: 1px solid var(--color-red);
    }

    & input:focus + .inputFocused > p{
      color: var(--color-red);
    }
  }

  & .children{
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
  }
}

button.secondary{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  & > h3{
    color: var(--primary-color);
  }
  &::before{
    background-color: transparent;
  }
}
button.secondary:hover{
    background-color: var(--background-color-2);
}

button{
  width: 100%;
  padding: var(--padding-1);
  border-radius: var(--border-radius);
  border: none;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  & > h3{
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: var(--text-white);
  }
  transition: 0.25s;
  cursor: pointer;
  &.loading{
    padding: var(--padding-2);
    & img{
      //Tamanho de um h3
      width: 2.5em;
      aspect-ratio: 1;
    }
  }

  &:hover::before{
    animation: buttonHover 0.5s forwards ease-in-out;
  }

  &::before{
    display: block;
    position: absolute;
    top: -25px;
    left: -60px;
    content: '';
    height: calc(100% + 60px);
    rotate: 45deg;
    width: 20px;
    background-color: var(--background-color);
  }

}
@keyframes buttonHover{
    from{
        left: -60px;
    }
    to{
        left: 600px;
    }
}


a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.2s;
}
a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  font-size: 2.5em;
  line-height: 1.1;

}



@media (prefers-color-scheme: light) {

}

@media (max-width: 1400px){
    :root{
        --padding-0: 40px;
        --padding-1: 15px;
        --padding-2: 5px;

        --margin-1: 25px;
        --margin-2: 8px;
        --margin-3: 4px;

        --border-radius: 8px;

        --font-size: 0.9rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    p, a{
        font-size: 0.9rem;
    }
}

