
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgba(0, 102, 255, 1);
  --primary-color-80: rgba(0, 102, 255, 0.7);
  --background-color: white;
  --background-color-2: rgb(245, 245, 245);
  --color-green: #369436;
  --color-red: #ff0000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-size{
  width: 100dvw;
  height: 100dvh;

}

#input.valid{
  & input{
    border: 1px solid var(--color-green);
  }
  & p{
    color: var(--color-green);
    top: -15px;
    left: 0;
  }

  & input:focus{
    border: 1px solid var(--color-green);
  }

  & input:focus + p{
    color: var(--color-green);
  }
}

#input.invalid{
  & input{
    border: 1px solid var(--color-red);
  }

  & p{
    color: var(--color-red);
    top: -15px;
    left: 0;
  }

  & input:focus{
    border: 1px solid var(--color-red);
  }

  & input:focus + p{
    color: var(--color-red);
  }
}

#input.hasContent{
  
  & input{
    border: 1px solid var(--primary-color);
  }
  & p{
    color: var(--primary-color);
    top: -15px;
    left: 0;
  }
  
}
#input{
  position: relative;
  //Esse margin-top é o espaço que o texto irá ocupar
  margin-top: 35px;
  & div{
    & > p{
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s;
      pointer-events: none;
    }
    & input{
      width: 100%;
      padding: 1em;
      border-radius: 8px;
      border: 1px solid black;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: transparent;
      color: black;
      transition: 0.25s;
      outline: none;
    }
    & input:focus{
      border: 1px solid var(--primary-color);
      background-color: var(--background-color-2)
    }

    //Change the texto color when input focused
    & input:focus + p{
      color: var(--primary-color);
      top: -15px;
      left: 0;
    }
  }
 


}

button.secondary{
  background-color: transparent;
  border: 1px solid var(--primary-color);
  & > h3{
    color: var(--primary-color);
  }
}

button{
  width: 100%;
  padding: 1.5em;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  & > h3{
    letter-spacing: 0.1rem;
    font-weight: 600;
  }
  transition: 0.25s;
  cursor: pointer;
}

button:hover{
  background-color: var(--primary-color-80);
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  transition: 0.2s;
}
a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2{
  font-size: 2.5em;
  line-height: 1.1;

}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
